@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */

/* Asigna valores por defecto: fondo y propiedades de la fuente */

body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

/* Aplica padding por defecto a todos los hijos directos de body para que
 todo el contenido este centrado de igual manera */

body > * {
    padding: 0 16px;
}

/* Muestra los elementos de tal manera que el espacio entre ellos sea el mismo */

.header {
    display: flex;
    justify-content: space-between;
}

/* Evita que se muestre el h1 */

.src-only {
    display: none;
}

/* Evita que se despliegue el menu en moviles */

.hide-mobile {
    display: none;
}

/* valores por defecto a la etiqueta parrafo */

p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

/* tamaño de logo*/

.logo {
    width: 90px;
    margin: 1em;
}

/* propiedades de menu desplegable en moviles */

.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */

/* tamaño a la imagen */
.big-hero img {
    width: 150px;
}

/* valores por defecto de las etiquetas h2 y parrafo */

.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em;
}

.big-hero p {
    font-size: 0.8rem;
    color: #D7DEE6;
    margin-top: -10px;
    margin-bottom: 40px;
    font-weight: 500;
}

/* Social links*/

/* valores iniciales para la lista de iconos de redes sociales */

.social-links{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 60px;

}

/* valores iniciales de los enlaces de iconos sociales */

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    margin: auto 10px;
}

/* tamaño de los iconos de redes sociales */

.fab {
    font-size: 4rem;
}

/* color de fondo a la seccion de publicaciones */

.green-area {
    background-color: #0AC693; 
}

/* valores por defecto a la seccion de publicaciones */

.post {
    padding: 0.6em;
    margin-bottom: -2px;
}

.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

/* Elimina el estilo de lista */

.post ul {
    list-style: none;
}

/* tamaño de cada publicacion */

.post ul li {
    min-height: 300px;
    max-width: 300px;
    margin: 2rem auto;
}

/* estilo de cada articulo */

.post ul li article {
    overflow: hidden;
    border-radius: 7px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}

/* Asigna el tamaño de la imagen de cada publicacion y especifica la manera en que 
se debe adaptar a su contenedor */

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/* valores por defecto a la etiqueta h3 de cada publicacion */

.post article h3 {
    color: #0D5061;
    margin-top: 1em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* valores por defecto a la etiqueta parrafo de cada publicacion */

.post article p {
    color:#112935;
    margin-top: 0;
    font-size: 0.75em;
    padding: 1rem;
    padding-top: 0.75rem;
    line-height: 25px;
}

/* About */

/* Aplica margenes a la seccion Acerca de */

.about{
    margin-top: 2em;
    margin-bottom: 3em;
}

/* propiedades para la etiqueta h2 de la seccion acerca de */

.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

/* tamaño de la imagen en la seccion acerca de (logo blanco) */

.bio-info img{
    width: 150px;
 }

 /* valores por defecto a la etiqueta parrafo en la seccion acerca de */
 
 .bio-info p{
     font-size: 16px;
     padding: 3em;
     text-align: left;
     line-height: 20px;
     letter-spacing: 0;
 }

/* manera en que se muestra el contenedor de la seccion de contacto */

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 2em;
}

/* Asigna margen superior a todo lo que este ubicado inmediatamente
despues de un hijo directo de .contact */

.contact * + * {
    margin-top: 1.5em;
}

/* manera en que se muestra el formulario de contacto */

.contact-form {
    display: flex;
    flex-direction: column;
}

/* peso a la fuente de cada label del formulario */

.contact label {
    font-weight: 700;
}

/* estilo de los inputs del formulario */

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
    margin-top: 12px;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

/* estilo de boton */

.contact-form input[type=submit] {
    margin-top: 25px;
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

/* color de fondo, de fuente y define de que manera se mostrará el footer */

footer{
    background-color: #0D5061;
    color:#D7DEE6;
    display: inline-block;
    width: 100%;
}

/* Aplica margenes a la lista de iconos sociales en footer */

footer .social-links {
    margin-top: 4px;
    margin-bottom: 0;
}

/* Aplica margen y padding superior, padding inferior a la etiqueta parrafo de footer */

footer p {
    margin-top: 4px;
    padding-top: 0;
    padding-bottom: 20px;
}

/* estilo para menu */

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);

    list-style: none;
    text-align: left;
    padding: 1em;
}

/* manera en que se mostrará cada elemento de la lista */

.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

/* color a la fuente de los enlaces */

.menu li a {
    color: white;
    text-decoration: none;
    
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
    /* Ancho y margen 0 arriba y abajo para contenedores en tablets */
    .container {
        width: 100%;
        margin: 0 auto;
    }

    /* padding a toda la imagen dentro del header */
    .header img {
        padding: 12px;
    }

    /* Ajuste de tamaño paraa links en items del menu */
    .menu li a {
        font-size: 1rem;
    }

    /* Color al hacer hover en las opciones del menu */
    .menu li a:hover {
        color: #f74442;
    }

    /* Ajuste de tamaño de texto para seccion inicial */
    .big-hero p {
        font-size: 0.95rem;
    }

    /* Ajuste de espacio entre texto e iconos sociales */
    .big-hero .social-links {
        margin-bottom: 30px;
    }

    /* espacio entre elementoss en la lista de iconos sociales */
    .social-links li a {
        margin: auto 10px;
    }

    /* Ajuste de tamaño para el icono de flecha */
    .fas {
        font-size: 3rem;
        color: #0ac693;
        margin-top: 0;
        margin-bottom: 90px;
    }

    /* Definicion de estilo y distribucion de elementos para la lista */
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    /* tamaño para elementos en la lista */
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

    /* tamaño para articulos */
    article {
        width: 300px;
    }

    /* margen y ancho para logo */
    .logo {
        width: 150px;
        margin: 1.5em;
    }

    /* cambio de display para tablets o mayores */
    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    /* Nuevas propiedades para tablet o superior en menu */
    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }

    /* Cambio en display al footer */
    footer {
        display: block;
    }
} 

@media only screen and (min-width: 1024px) {
    /* Ancho y margen 0 arriba y abajo para contenedores en escritorio */

    .container {
        width: 100%;
        margin: 0 auto;
    }

    /* padding izquierdo y derecho a tod el header */

    .header {
        padding: 0 48px;
    }

    /* define el tamaño de fuente del texto de los enlaces*/

    .menu li a {
        font-size: 1.2rem;
    }

    /* color al hacer hover en las opciones del menu */

    .menu li a:hover {
        color: #f74442;
    }

    /* propiedades para fuente y margen de h2 de big-hero */ 

    .big-hero h2 {
        font-size: 2.3em;
        font-weight: bolder;
        margin-top: 1.5rem;
    }

    /* propiedades de fuente y margen para la etiqueta parrafo de big-hero */

    .big-hero p {
        font-size: 1rem;
        margin-bottom: 0;
    }

    /* margenes superiores e inferiores para lista de iconos sociales */

    .social-links {
        margin-top: 0;
        margin-bottom: 20px;
    }

    /* tamaño de fuente y margen izquiero y derecho para los iconos sociales*/

    .fab {
        font-size: 6rem;
        margin: auto 16px;
    }

    /* propiedades para icono arrow */

    .fas {
        font-size: 4.5rem;
        color: #0ac693;
        margin-top: 0;
        margin-bottom: 90px;
    }

    /* manera en que se muestra la lista de publicaciones */

    .post ul {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        padding-bottom: 16px;
        
    }

    /* valores para cada elemento de la lista */

    .post ul li {
        min-height: 330px;
        max-height: 3500px;
        margin: 1rem auto;
        flex: 1 0 300px;
    }

    /* propiedades para fuente para h2 de la seccion publicaciones */

    .post h2 {
        font-size: 1.3rem;
        font-weight: bolder;
    }

    /* tamaño, margen y estilo de borde para cada articulo */

    article {
        width: 260px;
        min-height: 337.11px;
        margin: auto;
        border-radius: 6px;
    }

    /* valores para h3 de cada articulo */

    .post article h3 {
        margin-top: 0.7rem;
        margin-bottom: 0;
        font-weight: bolder;
        font-size: 1.1rem;
        text-align: justify;
    }

    /* propiedades de fuente para la etiqueta parrafo de cada articulo */

    .post article p {
        color: black;
        font-size: 0.7rem;
        font-weight: 500;
        line-height: 18px;
    }

    /* padding para centrar los elementos h3 y parrafo de los articulos */

    .post article h3, .post article p {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* margen inferior para la seccion about */

    .about {
        margin-bottom: 0;
    }

    /* manera en que se muestan los elementos dentro del contenedor en la seccion about */

    .about .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        padding: 0 50px 40px;
    }

    /* propiedades para h2 de la seccion about */

    .about h2 {
        width: 100%;
        font-size: 1.3rem;
        font-weight: bolder;
        margin-top: 0;
    }

    /* tamaño y posicion que ocupara bio-info en el contenedor */

    .bio-info {
        width: 50%;
        align-self: flex-start;
    }

    /* propiedades para el parrafo de bio-info */

    .bio-info p {
        margin-top: 25px;
        padding: 20px;
        font-size: 0.85rem;
        line-height: 20px;
        text-align: left;
        letter-spacing: 0px;
    }

    /* tamaño de logo blanco */

    .bio-info img {
        width: 180px;
    }

    /* tamaño que ocupara contact en el contenedor */

    .contact {
        width: 50%;
        padding-left: 110px;
    }

    /* tamaño de formulario */

    .contact-form {
        height: 85%;
        width: 100%;
    }

    /* propiedades de fuente para labels de formulario */

    .contact-form label {
        font-size: 1rem;
        font-weight: bolder;
    }

    /* propiedades para inputs y textarea de formulario */

    .contact-form input, .contact-form textarea {
        padding: 0.6rem 1.8rem;
        font-size: 1.1rem;
        margin-top: 16px;
    }

    /* tamaño de textarea de formulario */

    .contact-form textarea {
        height: 150px;
    } 

    /* tamaño y propiedades de fuente para texto en boton */

    .contact-form input[type=submit] {
        font-size: 1.2rem;
        margin-top: 26px;
        width: 200px;
        height: 48px;
        border-radius: 0 1.5rem;
        color: rgba(245, 245, 245, 0.712);
    }

    /* propiedades para la etiqueta parrafo de footer */

    footer p {
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: 500;
    }

}

@media only screen and (min-width: 1440px) {
    /* Ancho y margen 0 arriba y abajo para contenedores en escritorio */
    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 1440px;
    }

    /* tamaño de logo principal */

    .logo {
        width: 190px;
    }

    /* ancho de articulos */

    article {
        width: 300px;
    }
}