@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* El CSS siguiente esta pensando primero para moviles y luego para 
   Escritiorio*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/* El estilo base para moviles */
body {
    background-color: #112935;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
}

body > * {
    padding: 0 16px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.src-only {
    display: none;
}

.hide-mobile {
    display: none;
}

p{
    font-size: 0.75em;
    padding: 1rem;
    line-height: 25px;
}

.logo {
    width: 90px;
    margin: 1em;
}

.options {
    color: inherit;
    text-decoration: none;
    position: relative;
    top: 30%;
    right: 95%;
    font-size: 1.5rem;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.options i:last-child {
    font-size: 1.6rem;
}

/* Big area */
.big-hero img {
    width: 150px;
}

.big-hero h2 {
    font-size: 1.875em;
    font-weight: 700;
    letter-spacing: 0.002em;
    margin-top: 1em;
}

.big-hero p {
    font-size: 0.8rem;
    color: #D7DEE6;
    margin-top: -10px;
    margin-bottom: 40px;
    font-weight: 500;

}

/* Social links*/
.social-links{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -50px;
    margin-bottom: 60px;

}

.social-links li a{
    color: #D7DEE6;
    text-decoration: none;
    margin: auto 10px;
}

.fab {
    font-size: 4rem;
}


.green-area {
    background-color: #0AC693; 
}


.post {
    padding: 0.6em;
    margin-bottom: -2px;
}
.post h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1em;
}

.post ul {
    list-style: none;
}

.post ul li {
    min-height: 300px;
    max-width: 300px;
    margin: 2rem auto;
}

.post ul li article {
    overflow: hidden;
    border-radius: 7px;
    background-color: #ffffff;
    text-align: left;
    padding-bottom: 2em;
}

.post article img{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.post article h3 {
    color: #0D5061;
    margin-top: 1em;
    padding: 0em 1rem;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post article p {
    color:#112935;
    margin-top: 0;
    font-size: 0.75em;
    padding: 1rem;
    padding-top: 0.75rem;
    line-height: 25px;
}

/* About */

.about{
    margin-top: 2em;
    margin-bottom: 3em;
}

.about h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 2em;
}

.bio-info img{
    width: 150px;
 }
 
 .bio-info p{
     font-size: 16px;
     padding: 3em;
     text-align: left;
     line-height: 20px;
     letter-spacing: 0;
 }

.contact {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 2em;
}

.contact * + * {
    margin-top: 1.5em;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0px 2em;
    font-size: 1em;
    width: 100%;
}

/* Decorando placeholder */

::-webkit-input-placeholder { 
    color: #D7DEE6; 
} 
 
:-moz-placeholder { /* Firefox 18- */ color: #D7DEE6; } 
 
::-moz-placeholder { /* Firefox 19+ */ color: #D7DEE6; } 
 
:-ms-input-placeholder { color: #D7DEE6; }

.contact-form input[type=submit] {
    background-color: #F74442;
    font-weight: 400;
    color: white;
    font-size: 1rem;
}

.black-decoration{
    background-image: url("../images/decoracion_oscura_small.svg");
}

footer{
    background-color: #0D5061;
    color:#D7DEE6;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer .social-links {
    margin-top: 4px;
    margin-bottom: 0;
}

footer p {
    margin-top: 4px;
    padding-top: 0;
    padding-bottom: 20px;
}

.menu {
    background-color: #112935;
    position: absolute;
    z-index: 20;
    top: 60px;
    right: 0;
    width: 100vw;
    height: calc(100vh - 60px);
}

.menu {
    list-style: none;
    text-align: left;
    padding: 1em;
}
.menu li {
    display: block;
    padding: 0.5em;
    margin-top: 5px;
}

.menu li a {
    color: white;
    text-decoration: none;
    
}

/* Pesonalizando estilo para tablets*/
@media only screen and (min-width: 768px) {
  
    .post ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .post ul li {
        min-height: 350px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }


    .logo {
        width: 150px;
        margin: 1.5em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    .menu {
        background-color: #112935; 
        position: static;
        z-index: 20;
        width: auto;
        height:auto;
        display: flex;
        margin-top: 1em;
    }




    /*TODO: FALTA CSS */
} 

@media only screen and (min-width: 1024px) {
    /*TODO: FALTA CSS */
    .container {
        width: 94%;
        margin: 0 auto;
    }

    .header {
        padding: 0 48px;
    }

    .menu li a {
        font-size: 1.2rem;
    }

    .menu li:last-child a {
        color: #f74442;
    }

    .big-hero h2 {
        font-size: 2.3em;
        font-weight: bolder;
        margin-top: 1.5rem;
    }

    .big-hero p {
        font-size: 1rem;
    }

    .social-links {
        margin-top: -18px;
    }

    .fab {
        font-size: 6rem;
        margin: auto 20px;
    }

    .fas {
        font-size: 4.5rem;
        color: #0ac693;
        margin-top: 20px;
        margin-bottom: 90px;
    }

    .post ul li article{
        border-radius: 6px;
    }

    .post ul li {
        min-height: 327px;
        max-height: 3500px;
        margin: 1rem 2rem;
        flex: 1 0 300px;
    }

    .post h2 {
        font-size: 1.3rem;
        font-weight: bolder;
    }

    article {
        width: 82%;
        margin: auto;
    }

    .post article h3 {
        margin-top: 0.7rem;
        margin-bottom: 0;
        font-weight: bolder;
        font-size: 1.1rem;
        text-align: justify;
    }

    .post article p {
        color: black;
        font-size: 0.7rem;
        font-weight: 500;
        line-height: 18px;
    }


    .post article h3, .post article p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about .container {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        padding: 0 50px;
    }

    .about h2 {
        width: 100%;
        font-size: 1.3rem;
        font-weight: bolder;
    }

    .bio-info {
        width: 50%;
    }

    .bio-info p {
        margin: 25px;
        font-size: 0.8rem;
        line-height: 20px;
        text-align: justify;
        letter-spacing: 0px;
    }

    .contact {
        width: 40%;
    }

    .contact-form {
        height: 85%;
        width: 85%;
    }

    .contact-form label {
        font-size: 1rem;
        font-weight: bolder;
    }

    .contact-form input, .contact-form textarea {
        padding: 0.8rem 1.8rem;
        font-size: 1.1rem;
    }

    .contact-form input[type=submit] {
        width: 50%;
    }

    footer p {
        font-size: 0.9rem;
        font-weight: 500;
    }

}

@media only screen and (min-width: 1440px) {

    /*TODO: FALTA CSS */
    .container {
        width: 90%;
        margin: 0 auto;
        max-width: 1440px;
    }
}